.header {
  background-color: rgb(27, 114, 164);
  height: 100vh;
  overflow-x: hidden;
}
.header .logo {
  margin-bottom: 20px;
  padding: 10px 0;
}
.header .logo h1 {
  color: #eee;
}
.header .hero {
  text-align: center;
}
.header .hero h3 {
  text-transform: uppercase;
  color: rgb(235, 233, 233);
  margin-bottom: 40px;
}
.header .hero a {
  padding: 8px 30px;
  border: none;
  background-color: rgb(235, 233, 233);
  color: #222;
}
.header img {
  width: 100% !important;
}
@media (min-width: 992px) {
  .header img {
    width: 70% !important;
  }
}
.header select,
.header input {
  width: 100%;
  padding: 10px 20px;
  margin: 10px 0;
  outline: none;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #000;
}
.header button {
  margin: 10px 0;
  background-color: #eee !important;
  color: rgb(27, 114, 164) !important;
  font-weight: 500;
  padding: 9px 30px;
  text-transform: uppercase;
}
.header .circle {
  border-color: #eee !important;
  border-left-color: transparent !important;
}
.header .warn {
  background-color: #eee;
  color: rgb(189, 22, 22);
  padding: 10px;
}

.quiz-app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quiz-app .quiz {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 60%;
}
@media (max-width: 991px) {
  .quiz-app .quiz {
    width: 100%;
  }
}
.quiz-app .quiz .question {
  background-color: rgb(27, 114, 164);
  padding: 20px;
  color: #eee;
}
.quiz-app .quiz .question h4 {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.quiz-app .quiz .choices {
  padding: 50px 20px;
  background-color: #eee;
}
.quiz-app .quiz .choices .answers {
  display: flex;
  flex-direction: column;
}
.quiz-app .quiz .choices .answers .answer {
  margin: 10px 0;
}
.quiz-app .quiz .choices .answers .answer button {
  width: 100%;
  padding: 10px 20px;
  background-color: rgb(27, 114, 164);
  border: none;
  color: #eee;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.quiz-app .quiz .details {
  background-color: rgb(27, 114, 164);
  color: #eee;
  padding: 20px;
}
.quiz-app .quiz .details p {
  margin: 0;
}

.score-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
  color: rgb(227, 224, 224);
}
.score-page h1 {
  text-transform: uppercase;
}
.score-page p {
  margin: 10px 0 20px;
  font-size: 20px;
}
.score-page .msg {
  margin: 10px 0 30px;
  text-transform: uppercase;
}
.score-page .msg h5.bad {
  color: rgb(166, 32, 32);
}
.score-page .msg h5.not-bad {
  color: rgba(146, 78, 11, 0.74);
}
.score-page .msg h5.good {
  color: rgb(77, 120, 8);
}
.score-page .msg h5.very-good {
  color: rgb(13, 100, 4);
}
.score-page .msg h5.exellent {
  color: rgb(5, 84, 136);
}
.score-page .msg h5.genuis {
  color: #000;
}

.no-questions {
  text-transform: uppercase;
  font-size: 30px;
}

.back-to-settings {
  background-color: rgb(27, 114, 164) !important;
}/*# sourceMappingURL=home.css.map */