body {
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  overflow-x: hidden;
  background-color: rgb(198, 50, 58) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none !important;
}
